#app4 {
}
@keyframes change {
  0% {
    background: greenyellow;
  }
  100% {
    background: skyblue;
  }
}
#app4 .circle {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 1px solid grey;
}

#app4 .circle.active {
  animation: change 1s infinite alternate-reverse linear;
}
